<?xml version="1.0" encoding="utf-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Easy Sdk Framework">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix="ServiceProvider.php">src/Component/</directory>
                <directory suffix="ServiceProvider.php">src/Config/</directory>
                <directory suffix="ServiceProvider.php">src/Console/</directory>
                <directory suffix="ServiceProvider.php">src/Package/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests_report"/>
        <log type="testdox-text" target="tests_report/test-dox.txt"/>
    </logging>
</phpunit>
